<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .change_done{
                width:300px; height:auto;
                margin:auto; margin-top:250px;
                border:1px solid orangered;
                border-radius:5px; padding:30px;
                font-weight: bolder;
                text-align: center;
        }
    </style>
</head>

<body>
<div class="change_done">
<p>Your password was changed</p>
<p><a href="{% url 'index' %}">GO INDEX</a></p>
</div>

</body>
</html>