<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .register_done{
            width:400px; height:auto;
            margin:auto; margin-top:250px;
            border:1px solid orangered;
            border-radius:5px; padding:30px;
            font-weight: bolder;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="register_done">
<h1>Sign up Complete</h1>
<a href="{% url 'index' %}">Go Index</a>
</div>
</body>
</html>